# Olist Marketplace Data Analysis

## Project Overview
Welcome to the Olist Marketplace Data Analysis Project. Olist, as the largest online marketplace in Brazil, is undergoing a comprehensive performance review. Our objective is to delve into the rich dataset of Olist's operations, analyze past performances, and uncover areas for potential growth.

In this Jupyter Notebook, we will explore various facets of Olist's business data, focusing on key aspects like sales volumes, buyer-seller relationships, and product category performances.

## Goals
- **Assess Buyer-Seller Dynamics**: Explore the geographical distribution and relationship between buyers and sellers.
- **Identify Growth Opportunities**: Analyze sales volume trends across different product categories and identify high-potential products.
- **Optimize Marketplace Reach**: Using data-driven insights, pinpoint 'commerce dead zones' to strategize future expansions.

## Data
The dataset includes valuable information such as:
- Product prices and shipping costs
- Seller and buyer locations
- Product details (dimensions, photos, category)
- Customer review scores
- Order statuses and timestamps

**Note**: Each order in the dataset can contain multiple products, adding complexity to our analysis.

## Approach
Our approach involves a mix of exploratory data analysis, statistical testing, and predictive modeling. We'll use Python and its powerful data analysis libraries to process, analyze, and visualize the data.

## Import Dependencies

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import folium
from IPython.display import IFrame
import scipy.stats as stats
from scipy.stats import chi2_contingency
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.stats.multicomp import pairwise_tukeyhsd

## Inspecting Data and Cleaning Data

In [7]:
# Load Data
df= pd.read_csv('data/raw/dac_olist.csv')
# Check Loaded Data
df.head()

,order_id,customer_id,product_id,seller_id,order_item_id,shipping_limit_date,price,freight_value,seller_zip_code_prefix,seller_city,...,customer_city,customer_state,payment_installments,review_score,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,00010242fe8c5a6d1ba2dd792cb16214,3ce436f183e68e07877b285a838db11a,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,1,2017-09-19 09:45:35,58.90,13.29,27277,volta redonda,...,campos dos goytacazes,RJ,2.0,5.0,delivered,2017-09-13 08:59:02,2017-09-13 09:45:35,2017-09-19 18:34:16,2017-09-20 23:43:48,2017-09-29 00:00:00
1,00018f77f2f0320c557190d7a144bdd3,f6dd3ec061db4e3987629fe6b26e5cce,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,1,2017-05-03 11:05:13,239.90,19.93,3471,sao paulo,...,santa fe do sul,SP,3.0,4.0,delivered,2017-04-26 10:53:06,2017-04-26 11:05:13,2017-05-04 14:35:00,2017-05-12 16:04:24,2017-05-15 00:00:00
2,000229ec398224ef6ca0657da4fc703e,6489ae5e4333f3693df5ad4372dab6d3,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,1,2018-01-18 14:48:30,199.00,17.87,37564,borda da mata,...,para de minas,MG,5.0,5.0,delivered,2018-01-14 14:33:31,2018-01-14 14:48:30,2018-01-16 12:36:48,2018-01-22 13:19:16,2018-02-05 00:00:00
3,00024acbcdf0a6daa1e931b038114c75,d4eb9395c8c0431ee92fce09860c5a06,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,1,2018-08-15 10:10:18,12.99,12.79,14403,franca,...,atibaia,SP,2.0,4.0,delivered,2018-08-08 10:00:35,2018-08-08 10:10:18,2018-08-10 13:28:00,2018-08-14 13:32:39,2018-08-20 00:00:00
4,00042b26cf59d7ce69dfabb4e55b4fd9,58dbd0b2d70206bf40e62cd34e84d795,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,1,2017-02-13 13:57:51,199.90,18.14,87900,loanda,...,varzea paulista,SP,3.0,5.0,delivered,2017-02-04 13:57:51,2017-02-04 14:10:13,2017-02-16 09:46:09,2017-03-01 16:42:31,2017-03-17 00:00:00

In [8]:
# Check for null values and Datatype
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 33 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       112650 non-null  object
 1   customer_id                    112650 non-null  object
 2   product_id                     112650 non-null  object
 3   seller_id                      112650 non-null  object
 4   order_item_id                  112650 non-null  int64
 5   shipping_limit_date            112650 non-null  object
 6   price                          112650 non-null  float64
 7   freight_value                  112650 non-null  float64
 8   seller_zip_code_prefix         112650 non-null  int64
 9   seller_city                    112650 non-null  object
 10  seller_state                   112650 non-null  object
 11  seller_lat                     109568 non-null  float64
 12  seller_lng                     109568 non-null  float64
 13  product_name_lenght            111047 non-null  float64
 14  product_description_lenght     111047 non-null  float64
 15  product_photos_qty             111047 non-null  float64
 16  product_weight_g               112632 non-null  float64
 17  product_length_cm              112632 non-null  float64
 18  product_height_cm              112632 non-null  float64
 19  product_width_cm               112632 non-null  float64
 20  product_category_name_english  111023 non-null  object
 21  customer_lat                   112303 non-null  float64
 22  customer_lng                   112303 non-null  float64
 23  customer_city                  112303 non-null  object
 24  customer_state                 112303 non-null  object
 25  payment_installments           112647 non-null  float64
 26  review_score                   112647 non-null  float64
 27  order_status                   112650 non-null  object
 28  order_purchase_timestamp       112650 non-null  object
 29  order_approved_at              112635 non-null  object
 30  order_delivered_carrier_date   111456 non-null  object
 31  order_delivered_customer_date  110196 non-null  object
 32  order_estimated_delivery_date  112650 non-null  object
dtypes: float64(15), int64(2), object(16)
memory usage: 28.4+ MB

From this we can see that there are quite a bit of null values for each column, however outside of seller_lat and seller_lng, the other columns are not missing enough data to be statistically significant. Also we can see that for our purposes a lot of these columns could be dropped, since we primarily care about Seller and Buyer relationship/coverage, sales volume, and sales operation.

In [9]:
# Columns to be dropped
columns_to_drop = ['shipping_limit_date', 'product_name_lenght', 'product_description_lenght', 
                   'product_photos_qty', 'payment_installments', 'review_score', 
                   'order_status', 'order_approved_at', 'order_delivered_carrier_date', 
                   'order_estimated_delivery_date', 'order_delivered_customer_date']

# Dropping the specified columns
df = df.drop(columns=columns_to_drop)

# Dropping all rows with null values
df = df.dropna()

# Check null values and remaining columns
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 107644 entries, 1 to 112649
Data columns (total 22 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       107644 non-null  object
 1   customer_id                    107644 non-null  object
 2   product_id                     107644 non-null  object
 3   seller_id                      107644 non-null  object
 4   order_item_id                  107644 non-null  int64
 5   price                          107644 non-null  float64
 6   freight_value                  107644 non-null  float64
 7   seller_zip_code_prefix         107644 non-null  int64
 8   seller_city                    107644 non-null  object
 9   seller_state                   107644 non-null  object
 10  seller_lat                     107644 non-null  float64
 11  seller_lng                     107644 non-null  float64
 12  product_weight_g               107644 non-null  float64
 13  product_length_cm              107644 non-null  float64
 14  product_height_cm              107644 non-null  float64
 15  product_width_cm               107644 non-null  float64
 16  product_category_name_english  107644 non-null  object
 17  customer_lat                   107644 non-null  float64
 18  customer_lng                   107644 non-null  float64
 19  customer_city                  107644 non-null  object
 20  customer_state                 107644 non-null  object
 21  order_purchase_timestamp       107644 non-null  object
dtypes: float64(10), int64(2), object(10)
memory usage: 18.9+ MB

Now we can see that we have gotten rid of columns that isn't necessary for efficiency and the amount of non-null values across all columns are consistent. Next we will backup the dataframe into it's own .csv file.

In [10]:
# Exporting the cleaned DataFrame 'df' to a CSV file
export_csv_path = 'data/clean/dac_olist_business_development_cleaned.csv'
df.to_csv(export_csv_path, index=False)